{
	"env": {
		"browser": true,
		"amd": true,
		"es6": true,
		"mocha": true
	},
	"plugins": [
		"react"
	],
	"extends": ["standard", "standard-react", "standard-jsx"],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"rules": {
		"no-tabs": 0,
		"indent": [2, "tab"],
		"react/jsx-indent": [2, "tab"],
		"strict": 0,
		"comma-dangle": [2, "always-multiline"],
		"jsx-quotes": [2, "prefer-double"],
		"react/prop-types": 0,
		"no-multi-spaces": 0,
		"no-underscore-dangle": 0,
		"quotes": [2, "single"],
		"semi": [2, "always"],
		"space-before-function-paren": [2, "never"]
	},
	"globals": {
		"expect": true
	}
}
